{% extends 'base.html' %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{% block title %}Home | My Django Project{% endblock %}</title>
  </head>
  <body class="bg-gray-100 text-gray-900">
    <!-- Main Content -->
    <main>
      {% block content %}
      <section class="text-center py-16">
        <h2 class="text-4xl text-red-600 font-extrabold mb-4">
          Welcome to My Django Project
        </h2>
        <p class="text-xl mb-8">
          This is the home page of your Django application styled with Tailwind
          CSS.
        </p>

        <!-- image -->
        <!-- Display Image -->
        <div class="mb-8">
          <img
            src="{% static 'images/nahian.jpg' %}"
            alt="Nahian"
            class="mx-auto rounded-lg shadow-lg w-36"
          />
        </div>

        <!-- Htmx button  -->
        <button
          hx-get="{% url 'some_view' %}"
          hx-target="#dynamic-content"
          class="bg-blue-500 text-white px-6 py-3 rounded-lg hover:bg-blue-600"
        >
          Load More Content
        </button>
        <div id="dynamic-content" class="mt-8 my-2"></div>

        <!-- Alpine counter -->
        <div x-data="{ count: 0 }" class="p-4">
          <button
            x-on:click="count++"
            class="bg-red-600 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition duration-300 ease-in-out"
          >
            Increment
          </button>
          <span
            x-text="count"
            class="ml-4 text-2xl font-semibold text-gray-800"
          ></span>
        </div>
      </section>
      {% endblock %}
    </main>
  </body>
</html>
